@page "/contact"

<h3>Contact</h3>

<body>
    Interested in contacting us? Please feel free to send us an email!
<br />
Are you a local business or organization? We do robotics demonstrations and presentation. 
Please feel free to reach out!<br />
Please consider supporting us so we can continue to provide this 
program to students in our community! <br />Sponsors are added to our sponsors page, our sponsors banner, and the side of the robot.

<br/>
    <a href="mailto:firstteam60robotics@gmail.com">firstteam60robotics@gmail.com</a>
    <br/><strong>P.O. Box 6492 <br />Kingman, AZ 86402</strong>
</body>

<img src="bionic bulldog draft.png" style='height: 15%; width: 15%; object-fit: scale-down' />

@code {

}
