@inherits LayoutComponentBase

<PageTitle>Team 60 Robotics, Kingman, AZ</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            Team 60 Robotics Bionic Bulldogs, Kingman, AZ (1997-2023) <img src="bionic bulldog draft.png" style='height: 100%; width: 100%; object-fit: contain' />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
