@page "/buildingfunds"

<body>
    Team 60 has started a project to build a community robotics center on 
    Kingman High School's campus. This building will provide a space for our team to work on, machine, 
    program, and test robots. It will also provide a space that other community robotics programs can use.
    Currently the project has been started, but we are still raising additional funding.
    Please consider supporting us! Donations can be made on our GoFundMe, directly made to our account 
    at Foothills bank, or sent to Kingman Robotics at 
    PO Box 6492 Kingman, AZ 86402.
    For more information, please contact us at firstteam60robotics@gmail.com
</body>
@{
}
