@page "/history"

@*<PageTitle>History</PageTitle>*@

<h1>History</h1>

<body>
    Team 60 was founded at Kingman High School in 1996 by an engineer at Laron Inc. 
    Team 60's first season in "First Robotics Competition" (FRC) was 1997 competing in the "Toroid Terror" challenge. 
    Eventually, the team expanded to include Kingman Academy of Learning High School, 
    in addition to Kingman High School. As Kingman grew, the team also welcomed students 
    from Lee Williams High School as well as homeschool students. Now the team also includes 
    students in 7th grade and up.
    Recently in 2022, Team 60 celebrated their 25th season competing in the FRC competition.
    <img src="/robot60.png" style='height: 100%; width: 100%; object-fit: contain' />
</body>

@{
}
