@page "/"

<PageTitle>Team 60<br />FIRST Robot Competition<br />Kingman, AZ</PageTitle>

<body>
    <img src="/website_background-2.png" style='height: 100%; width: 100%; object-fit: contain' />
</body>