@page "/sponsors"
@using KingmanAzFrcTeam60.Data
@inject SponorsSource SponorsSource
@inject IHttpClientFactory ClientFactory

<PageTitle>Sponsors</PageTitle>

<h1>Sponsors</h1>

<body>
    <RadzenDataGrid Data="@OurSponsors" TIItem="Sponsor">
        <Columns>
            <RadzenDataGridColumn TItem="Sponsor" Property="BusinessName" Title="Sponsor"  />
            <RadzenDataGridColumn TItem="Sponsor" Property="GetWebsite" Title="Website" />
            <RadzenDataGridColumn TItem="Sponsor" Property="AllYears" Title="Years" />
        </Columns>
    </RadzenDataGrid>
</body>

@code{
    private Sponsor[]? OurSponsors;

    protected override async Task OnInitializedAsync()
    {
        var client = ClientFactory.CreateClient();
        client.BaseAddress = new Uri("https://localhost:44398/");
        await SponorsSource.PopulateSponsors(client);
        OurSponsors = SponorsSource.Sponsors;
    }
}


