@page "/resources"

<h3>Resources</h3>

<body>
    <table>
        <tr>
            <td><a href="https://www.ni.com/docs/en-US/bundle/roborio-20-umanual/page/umanual.html">RoboRio 2.0 Reference</a></td>
        </tr>
        <tr>
            <td><a href="https://docs.wpilib.org/en/stable/docs/software/what-is-wpilib.html">What is WPILib</a></td>
        </tr>
        <tr>
            <td><a href="https://github.com/wpilibsuite/allwpilib">WPILib GitHub</a></td>
        </tr>
        <tr>
            <td><a href="https://github.com/wpilibsuite/allwpilib/releases/tag/v2022.4.1">WPILib C++/Java Installer (Scroll to bottom)</a></td>
        </tr>
        <tr>
            <td><a href="https://docs.wpilib.org/en/stable/docs/zero-to-robot/introduction.html">Zero to Robot</a></td>
        </tr>
        <tr>
            <td><a href="https://github.wpilib.org/allwpilib/docs/release/cpp/index.html">C++ Reference</a></td>
        </tr>
        <tr>
            <td><a href="https://github.wpilib.org/allwpilib/docs/release/java/index.html">Java Reference</a></td>
        </tr>
        <tr>
            <td><a href="https://docs.wpilib.org/en/stable/docs/zero-to-robot/step-2/wpilib-setup.html">Install WPILib</a></td>
        </tr>
    </table>
</body>



@code {
}
